/* xl, xxl, default style */
:root {
  --app-top-chrome-height: 44px;
  --navbar-height: var(--app-top-chrome-height);
  --sidebar-width: 200px;
  --assistants-width: 275px;
  --topic-list-width: 275px;
  --settings-width: 250px;
}

/* lg */
@media (max-width: 1080px) {
  :root {
    --assistants-width: 210px;
    --topic-list-width: 210px;
    --settings-width: 210px;
  }
}
